@import
	url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap")
	;

/*icon color Y #FFF350  G #444B54*/
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: auto;
}

*::-webkit-scrollbar {
	width: 0px;
}

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

/* header ----------------------------------------------------------------------------------------------*/
#container {
	background-color: #f5f5f5;
	margin: 0;
	top: 0;
	text-align: center;
	width: fit-content;
	display: grid;
	grid-gap: 1%;
	grid-template-columns: 1.5fr 2.1fr 4.9fr 0.5fr;
	z-index: 6;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	box-sizing: border-box;
	position: sticky;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px
		rgba(60, 64, 67, 0.149);
}

#header-block {
	position: sticky;
	top: 0px;
	z-index: 5;
}

#logoBox {
	position: relative;
	align-items: center;
	max-width: 500px;
}

#logo {
	height: auto;
}

#collection {
	font-weight: bold;
	display: block;
	padding: 0 auto;
	text-align: center;
	align-items: center;
}

#shop {
	text-align: center;
}

#collection a {
	text-decoration: none;
	color: rgb(29, 29, 29);
}

#searchIcon {
	margin: 4px;
	padding: 2.5px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.searchContainer {
	width: max-content;
	padding: 0 auto;
	border: 0;
	border-radius: 20px;
	color: rgb(29, 29, 29);
	font-size: 14px;
	background-color: #ececec;
}

#searchBtn {
	display: none;
	border-radius: 20px;
	border: 0;
	background-color: #ececec;
	animation-duration: 0.3s;
	animation-fill-mode: both;
}

#searchBtn.show {
	display: block;
}

#searchBtn.hidden {
	display: block;
}

#searchBtn.show {
	animation-name: appear;
}

#searchBtn.hidden {
	animation-name: disappear;
}

#searchIconBtn {
	margin: 4px;
	padding: 2.5px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

@
keyframes appear { 0% {
	opacity: 0;
}

to {
	opacity: 1;
}

}
@
keyframes disappear { 0% {
	opacity: 1;
}

to {
	opacity: 0;
}

}
#toggle {
	display: flex;
	align-items: center;
}

#toggle a {
	color: rgb(29, 29, 29)
}

/*badge-Icon*/
.cartContainer {
	margin: auto;
	padding: 20px;
}

.position {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.caption {
	margin-top: 5px;
	font-size: 12px;
	display: block;
}

.icon {
	position: relative;
	width: 30px;
}

.badge {
	position: absolute;
	top: -16px;
	right: -18px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 25px;
	height: 25px;
	padding: 1px 10px 0 10px;
	border: 3px solid #f4fdff;
	border-radius: 500px;
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	z-index: 2;
	transition: transform 0.15s, background-color 0.5s;
}

.yellow {
	background: #FFF350;
	color: #000;
}

.position:hover .badge {
	background-color: #000;
	transform: scale(1.08);
	color: white;
}

.position:active .badge {
	background-color: #555;
	transform: scale(1);
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.75);
}

@media screen and (max-width: 850px) {
	#searchIcon, #input {
		display: none;
	}
	.searchContainer {
		background-color: transparent;
	}
	#searchBtn {
		display: flex;
	}
}

@media screen and (max-width: 600px) {
	.cartContainer {
		padding: 15px;
	}
	#container {
		padding: 15px 40px;
	}
	.position:active .badge {
		transition: none;
	}
	.icon {
		width: 30px;
	}
	.badge {
		position: absolute;
		top: -16px;
		right: -18px;
		min-width: 25px;
		height: 25px;
		padding: 0 7px;
		font-size: 10px;
		transition: transform 0.1s, background-color 0.2s;
	}
	.position:hover .badge {
		transform: scale(1);
	}
}

@media screen and (max-width: 550px) {
	.cartContainer {
		padding: 10px;
	}
	#container {
		padding: 20px 7%;
	}
}

@media screen and (max-width: 400px) {
	#container {
		padding: 20px 5%;
	}
}

@media screen and (max-width: 351px) {
	#logoBox {
		display: none;
	}
}

/* sidebar ---------------------------------------------------------------------------------------------*/
.sidebar .sidebarOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6;
	background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .sidebarContent {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 7;
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 500px;
	animation-duration: 0.3s;
	animation-fill-mode: both;
}

.sidebar.show {
	display: block;
}

.sidebar.hidden {
	display: block;
}

.sidebar.show .sidebarOverlay {
	animation-name: fadeIn;
}

.sidebar.hidden .sidebarOverlay {
	visibility: hidden;
}

.sidebar.show .sidebarContent {
	animation-name: slideInRight;
}

.sidebar.hidden .sidebarContent {
	animation-name: slideOutLeft;
}

.sidebar .sidebarHeader {
	width: 100%;
	position: relative;
	text-align: center;
	background-color: #f2f2f2;
	padding: 15px;
}

.sidebar .sidebarHeader h4 {
	font-weight: 600;
}

.sidebar .sidebarHeader .icon {
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
	transition: all 0.3s;
	border-radius: 100%;
	cursor: pointer;
}

.sidebar .sidebarHeader .icon:hover {
	background-color: #dfdfdf;
}

.sidebar .sidebarBody {
	padding: 8px;
	overflow-y: auto;
	height: 100%;
}

@
keyframes fadeIn { 0% {
	opacity: 0;
}

to {
	opacity: 1;
}

}
@
keyframes slideInRight { 0% {
	transform: translate3d(100%, 0, 0);
	visibility: visible;
}

to {
	transform: translateZ(0);
}

}
@
keyframes slideOutLeft { 0% {
	transform: translateZ(0);
}

to {
	transform: translate3d(100%, 0, 0);
	visibility: hidden;
}

}
@media screen and (max-width: 550px) {
	.sidebar .sidebarContent {
		width: 100%;
	}
}

/* searchbar -------------------------------------------------------------------------------------------*/
.searchbar .searchbarOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.searchbar .searchbarContent {
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 4;
	top: 120px;
	background-color: transparent;
	margin-top: 5px;
	width: 100%;
	height: 45px;
	animation-duration: 0.3s;
	animation-fill-mode: both;
}

.searchbar #inputbar {
	width: 100%;
	margin-right: 0px;
	height: 35px;
	margin: 0 auto;
	padding: 0px 30px;
	border: none;
	background-color: transparent;
}

#inputbar:focus {
	outline: none;
}

#inputbar::placeholder {
	font-weight: bold;
}

.searchbar .sBtn {
	background-color: #FFF350;
	margin-right: 5px;
	height: 35px;
	width: 35px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

#close {
	margin: 0;
	margin-right: 3px;
	background-color: transparent;
}

#close:hover {
	background-color: #dfdfdf;
}

.searchbar .sBtn .icon {
	margin: 2px;
	padding: 2.5px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	border-radius: 100%;
	cursor: pointer;
}

.searchbar .searchbarBody {
	margin-right: 5px;
	margin-left: 5px;
	height: 35px;
	overflow-x: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #ececec;
	border-radius: 20px;
}

.searchbar.show {
	display: flex;
}

.searchbar.hidden {
	display: block;
}

.searchbar.show .searchbarOverlay {
	animation-name: searchIn;
}

.searchbar.hidden .searchbarOverlay {
	visibility: hidden;
}

.searchbar.show .searchbarContent {
	animation-name: slideInDown;
}

.searchbar.hidden .searchbarContent {
	animation-name: slideOutUp;
}

@
keyframes searchIn { 0% {
	opacity: 0;
}

to {
	opacity: 1;
}

}
@
keyframes slideInDown { 0% {
	transform: translate3d(0, -100%, 0);
	/*transform: translate3d(-100%, 0, 0);*/
	visibility: visible;
}

to {
	transform: translateZ(0);
}

}
@
keyframes slideOutUp { 0% {
	transform: translateZ(0);
}

to {
	transform: translate3d(100%, 0, 0);
	/*transform: translate3d(0, -100%, 0);*/
	visibility: hidden;
	display: none;
}

}

/* Login/Register -----------------------------------------------------------------------------------------------*/
.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loginForm {
	width: 300px;
	padding: 30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
}

.loginForm h2 {
	text-align: center;
	margin-bottom: 30px;
}

.loginForm input[type="text"], .loginForm input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.loginForm button[type="submit"] {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: #FFF350;
	color: #444B56;
	border-radius: 20px;
	padding-bottom: 10px;
}

.loginForm button:hover {
	background-color: #FFFF6A;
}

.loginForm #reg {
	padding-top: 15px;
}

/* main ------------------------------------------------------------------------------------------------*/
main {
	top: 120px;
	z-index: 3;
	height: 100%;
}

.bgPage {
	background: linear-gradient(to top, rgb(10, 10, 10, 0.1),
		rgb(10, 10, 10, 0.1)), url("../img/backgroundMain.png"), no-repeat
		center center fixed;
	background-size: cover;
	z-index: -1;
	background-attachment: fixed;
}

.bg {
	padding: auto 5%;
	position: relative;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
	box-shadow: 6px 0 4px -4px rgba(60, 64, 67, 0.149), -6px 0 4px -4px
		rgba(60, 64, 67, 0.149);
}

.flexContainer {
	width: 100%;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	vertical-align: middle;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.flexContainer a {
	text-decoration: none;
	color: #444B56;
}

.flexbox {
	width: 600px;
	height: 300px;
	padding: 20px;
	margin: 25px;
	text-align: center;
	align-content: center;
	border-radius: 20px;
	background-color: #FFF350;
}

.flexbox h5 {
	font-weight: 600;
	margin-top: 20px;
}

.flexbox:hover {
	box-shadow: 0px 5px 4px rgba(190, 190, 190, 0.149), -5px 0px 4px
		rgba(190, 190, 190, 0.149), 5px 0px 4px rgba(190, 190, 190, 0.149);
}

.flexImg {
	width: 40px;
	height: 40px;
}

@media screen and (max-width: 850px) {
	.flexbox {
		max-width: 400px;
		height: 220px;
	}
}

@media screen and (max-width: 700px) {
	.flexbox {
		max-width: 300px;
		height: 200px;
		margin: 20px;
	}
}

@media screen and (max-width: 750px) {
	.flexbox {
		max-width: 250px;
	}
}

@media screen and (max-width: 600px) {
	.flexbox {
		height: 200px;
		margin: 15px;
	}
}

/* footer ----------------------------------------------------------------------------------------------*/
footer {
	position: relative;
	margin: 0;
	bottom: 0;
	padding: 0;
	height: auto;
	background-color: #f5f5f5;
	z-index: 4;
	width: 100vw;
}

footer a:hover {
	text-decoration: underline;
}

.footerContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	padding: 10px 10%;
	margin: 0;
}

.footerFlexbox {
	width: 300px;
	height: 50px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	height: 100%;
}

.menu ul {
	justify-content: center;
	align-items: center;
	width: 100%;
}

.menu li {
	display: inline-block;
	padding: 10px;
}

.menu a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(29, 29, 29);
}

.social {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100%;
}

.social a {
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	cursor: pointer;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 2%;
	border-radius: 50%;
	transition: all 0.4s ease;
}

.social a:hover {
	color: #24262b;
	background-color: #FFF350;
}

/* back to top -----------------------------------------------------------------------------------------*/
.toTop a {
	position: relative;
	display: block;
	z-index: 5;
}

.toTop .topBtn {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	padding-top: 1px;
	padding-left: 1px;
	position: fixed;
	bottom: 2%;
	right: 1.5%;
	background: #ececec;
	transition: all 0.3s ease;
}

.toTop .topBtn:hover {
	cursor: pointer;
	background: #FFF350;
}

/* shop Page -------------------------------------------------------------------------------------------*/
.bgShop {
	padding: auto 5%;
	position: relative;
	background-color: transparent;
	/* height: 100%;*/
}

.megaPezza {
	height: 500px;
	/*background-color: red;*/
}

.menuBar {
	background-color: white;
	width: 250px;
	height: 100%;
	position: fixed;
	z-index: 3;
	top: 110px;
	bottom: 400px;
	overflow: auto;
	transition: 0.3s;
	transition-property: left;
}

.menuBar header {
	width: 100%;
	position: relative;
	text-align: center;
	background-color: #f2f2f2;
	padding: 15px;
}

.menuBar header h4 {
	font-weight: 600;
}

#closeBtn {
	display: none;
}

.menuBar header .icon {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
	transition: all 0.3s;
	border-radius: 100%;
	cursor: pointer;
}

.menuBar header .icon:hover {
	background-color: #dfdfdf;
}

.category {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}

.category .categoryItem {
	position: relative;
	cursor: pointer;
}

.category .subMenuBtn:hover {
	border-left: solid 5px;
	border-color: #FFF350;
	background-color: #f5f5f5;
}

.category .selectionMenu:hover {
	border-left: solid 5px;
	border-color: #FFF350;
	background-color: #f5f5f5;
}

.category .categoryItem a {
	color: #444B54;
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	line-height: 60px;
}

.categoryItem .categoryIcon {
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.categoryItem a .dropdown {
	position: absolute;
	right: 0;
	margin: 20px;
	transition: 0.2s;
}

.categoryItem .subMenu {
	background-color: #f7f8f9;
	display: none;
}

.categoryItem .subMenu .subItem:hover {
	border-left: solid 5px;
	border-color: #FFF350;
	background-color: #f5f5f5;
}

.menuBar.active {
	left: 0;
}

.categoryItem .subMenu a {
	padding-left: 80px;
}

.menuBar::-webkit-scrollbar {
	width: 0px;
}

.rotate {
	transform: rotate(90deg);
	transition: 0.2s;
}

.menuBtn {
	position: absolute;
	cursor: pointer;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	display: none;
}

.shop {
	padding-bottom: 25px;
	height: 100%;
	margin-left: 250px;
}

.headerShopContainer {
	padding: 20px 0;
	position: relative;
	margin-bottom: 15px;
	font-weight: 600;
	text-align: center;
}

.shopRow {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.shopItem {
	flex: 1;
	text-align: center;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

.itemBox {
	position: relative;
	margin-top: 25px;
	padding: 35px;
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.2);
	background-color: #f7f8f9;
	border: solid #fff 10px;
	border-radius: 20px;
	min-width: 250px;
}

.optionContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	transition: all .2s;
}

.options {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.options a {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 30px;
	width: 165px;
	text-align: center;
	transition: all .2s;
	margin: 5px 0;
}

.options .option {
	background-color: #f7444e;
	border: 1px solid #f7444e;
	color: #ffffff;
}

.option:hover {
	background-color: transparent;
	color: #f7444e;
}

.itemBox:hover .optionContainer {
	opacity: 1;
	visibility: visible;
}

.itemBox .imgShopContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.detailBox {
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.detailBox h5 {
	font-size: 18px;
	margin-top: 10px;
}

.detailBox h6 {
	margin-top: 10px;
	color: #444B54;
	font-weight: 600;
}

.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 90;
}

.popup {
	font-family: Arial, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 91;
}

.popup-content {
	text-align: center;
	z-index: 92;
}

.popup .close {
	padding: 0px 10px 0px 0px;
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #333;
}

.popup #emailInput {
	display: inline-block;
	width: 35em;
	height: 3em;
	padding: 0px 15px;
	background-color: transparent;
	border: none;
	border-radius: 20px;
}

.popup a {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 30px;
	width: 165px;
	text-align: center;
	transition: all .2s;
	margin: 5px 0;
}

.popup .addcart {
	background-color: #f7444e;
	border: 1px solid #f7444e;
	color: #ffffff;
}

.addcart:hover {
	background-color: transparent;
	color: #f7444e;
}

#inputQty {
	width: 80%;
	height: 3em;
	padding: 0px 15px;
	background-color: transparent;
	border: none;
	border-radius: 20px;
}

#inputQty:focus {
	outline: none;
}

.wau {
	width: max-content;
	padding: 0 auto;
	border: 0;
	border-radius: 20px;
	color: rgb(29, 29, 29);
	font-size: 14px;
	background-color: #ececec;
	margin: 20px;
}

@media screen and (max-width: 900px) {
	.shopItem {
		margin-left: 25px;
		margin-right: 25px;
	}
}

@media screen and (max-width: 650px) {
	#closeBtn {
		display: block;
	}
	.menuBtn {
		display: block;
	}
	.menuBar {
		width: 100%;
		left: -100%;
	}
	.shop {
		margin-left: 0px;
	}
}

/* cart Page -------------------------------------------------------------------------------------------*/
.cartHeader {
	padding-left: 3rem;
	padding-right: 3rem;
	padding: 0.5rem;
	text-align: center;
	background-color: #ececec;
	width: 100%;
}

.cartHeaderContainer {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	width: 100%;
	background-color: #ececec;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: -15px;
	margin-left: -15px;
}

.last {
	margin-left: auto;
	margin-right: 5%;
	align-content: center;
}

#title {
	text-align: center;
}

.btnBack {
	background-color: #ececec;
	padding: 5px;
	width: 15%;
	min-width: 170px;
	text-align: center;
	text-decoration: none;
	color: #444B54;
	font-weight: 600;
}

#btnBackContainer img {
	margin-right: 5px;
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.btnBack-txt {
	vertical-align: middle;
}

#empty-cart-message {
	text-align: center;
}

.itemContainer {
	position: relative;
	width: 100%;
	padding: 0;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.imgContainer {
	position: relative;
	padding: 15px;
	vertical-align: middle;
}

#pImg {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

#Qty {
	margin-right: 25px;
}

.dataContainer {
	position: relative;
	padding: 0 5%;
}

.generiContainer {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	flex: 0 0 50%;
	max-width: 50%;
}

.cart {
	background-color: #f8f8f8;
	padding: 60px 0;
}

.totalPrice {
	padding-bottom: 15px;
}

.cart-item {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.center-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cart-item h5 {
	padding: 0 3%;
	align-content: center;
}

.cart-item .removeItem {
	width: 25px;
}

.status {
	text-align: right;
}

.CheckOutContainer {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.checkOutBtn {
	float: right;
	font-weight: 500;
	background-color: #FFF350;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 20px;
	padding: 10px 30px;
	font-size: 19px;
}

.checkOutBtn:hover {
	text-decoration: none;
	background-color: #FFFF6A;
}

@media ( min-width : 992px) {
	.itemContainer {
		flex: 0 0 50%;
		max-width: 83.3%;
	}
}

@media ( min-width : 768px) {
	.itemContainer {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.CheckOutContainer {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Admin Page ------------------------------------------------------------------------------------------*/
.managementHeader {
	background-color: #f5f5f5;
	margin: 0;
	top: 0;
	text-align: center;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
	padding: 0px;
	z-index: 2;
	position: sticky;
	box-shadow: 0 1px 2px 0 rgba(79, 83, 87, 0.302), 0 2px 6px 2px
		rgba(79, 83, 87, 0.149);
}

/* text */
.hidden {
	opacity: 0;
}

.console-container {
	font-family: 'Lato' sans-serif;
	font-size: 4em;
	text-align: center;
	height: 200px;
	width: 600px;
	display: block;
	position: absolute;
	color: black;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#animationHeader {
	font-size: 2em;
	height: 30px;
	padding-left: 40px;
	width: 100%;
}

.console-underscore {
	display: inline-block;
	position: relative;
	top: -0.14em;
	left: 10px;
}

/* sidepanel */
.sidepanelBtn {
	position: absolute;
	cursor: pointer;
	padding: 0px;
	margin: 17px;
	border-radius: 50%;
	z-index: 5;
	display: none;
}

.sidepanelBtn:hover {
	background-color: #ececec;
}

#btnIcon {
	height: 25px;
	width: 25px;
}

#sidepanel {
	width: 60px;
	top: 60px;
	bottom: 0;
	text-align: left;
	transition: 0.2s;
	height: 100%;
	position: fixed;
	z-index: 1;
	transition: 0.3s;
	transition-property: left;
	overflow: visible;
	background-color: #f5f5f5;
	transition: all 0.2s
}

#sideMenu {
	overflow-y: hidden;
	margin-top: 50px
}

#sideItem a {
	color: #444B54;
	text-decoration: none;
	display: block;
	padding: 20px 0;
	padding-left: 15px;
	line-height: 0px;
}

#sideIcon {
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.spec {
	visibility: hidden;
	opacity: 0;
}

.extendBtn .extend {
	position: absolute;
	top: 10px;
	right: -13px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: #FFF350;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
}

.extendBtn .extend:hover {
	cursor: pointer;
	background: #FFFF6A;
}

.extendBtn a {
	position: relative;
	display: block;
	z-index: 5;
}

#sidepanel.open {
	left: 0;
}

#sidepanel.active {
	width: 200px;
}

#sidepanel.active .spec {
	visibility: visible;
	opacity: 1;
	transition: 0.8s
}

#sidepanel.active .extendBtn {
	transform: translate(0px);
}

#sidepanel.active .extendBtn .extend {
	transform: rotate(180deg);
}

.sideSelection:hover {
	border-left: solid 5px;
	border-color: #FFF350;
	background-color: white;
}

.filterAdmin {
	display: flex;
	justify-content: center;
}

#filterForm {
	border: none;
	background-color: #ececec;
	border-radius: 20px;
}

@media screen and (max-width: 650px) {
	.console-container {
		width: 80%;
	}
	.sidepanelBtn {
		display: block;
	}
	.extendBtn {
		display: none;
	}
	#animationHeader {
		font-size: 1.5em;
	}
}

/* Product Page ----------------------------------------------------------------------------------------*/
.modifyBtn {
	background-color: #FFF350;
	padding: 3px 20px;
	margin-right: 5%;
	border-radius: 20px;
}

.modifyBtn:hover {
	background-color: #FFFF6A;
}

#addNewProduct {
	padding: 10px 20px;
	margin: 0px 5%;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #444b56;
}

.prodBtn {
	padding: 20px;
}

/* Account Page ----------------------------------------------------------------------------------------*/
table, td, th {
	padding: 2%;
	text-align: center;
}

.mamma {
	display: unset;
}

.papa {
	display: none;
}

table {
	margin: auto;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.mamma {
		display: none;
	}
	.papa {
		display: unset;
	}
}

#kakatoca {
	height: 100vh;
}

@media screen and (max-width: 650px) {
	#kakatoca {
		margin-left: 2%;
		margin-right: 2%;
	}
}

#imgvolo {
	width: 100px;
	height: 100px;
}